:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --lg:18px;
    --mg:16px;
    --sg:14px
}

body{
    font-family: 'Quicksand', sans-serif;
}
.login {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}
.form--container {
    display:  grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-content: center;
    display: none;
}
title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
    justify-content: center;
}
.subtitle {
    color: var(--very-light-pink);
    font-size: var(--mg);
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: var(--sg);
    font-weight: bold;
    margin-bottom: 4px ;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--mg);
    padding:  6px;
    margin-bottom: 12px;
}
.primary--button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    text-align: center;
    width: 100%;
    cursor:  pointer;
    font-size: var(--mg);
    font-weight: bold;
    height: 50px;
}
.login--button {
    margin-bottom: 30px;
    margin-top: 14px;
}
@media (max-width: 640) {
    .logo {
        display: block;
    }
    
 }